body {
    background-color: rgb(239, 190, 90);
    }
    
    h1 {
    color: rgb(245, 55, 80);
    text-align: center;
    }
    
    p {
    font-family: Arial;
    font-size: 20px;
    }